h1 {
	text-align:center;
}
div.probe, div.dauer {
	text-align:center;
}
p {
	padding:0.2em;
	margin:0;
	text-align:justify;
}
label {
	font-weight:bold;
}
dt {
	font-style: italic;
}
hr {
	border-bottom:2px solid black;
}