<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dsatab"
    android:installLocation="auto"
    android:versionCode="78"
    android:versionName="4.2-beta4" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="DsaTabApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="DsaTab"
        android:largeHeap="true"
        android:theme="@style/DsaTabTheme.Light" >
        <activity
            android:name="com.dsatab.activity.DsaTabActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustUnspecified" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dsatab.activity.DsaTabPreferenceActivity"
            android:label="Einstellungen" />
        <activity
            android:name="com.dsatab.activity.ItemsActivity"
            android:label="Inventar" />
        <activity
            android:name="com.dsatab.activity.NotesEditActivity"
            android:label="Notiz bearbeiten"
            android:logo="@android:drawable/ic_menu_edit" />
        <activity
            android:name=".activity.TabEditActivity"
            android:label="Tab bearbeiten"
            android:logo="@android:drawable/ic_menu_edit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ModificatorEditActivity"
            android:label="Modifikator bearbeiten"
            android:logo="@android:drawable/ic_menu_edit" />
        <activity
            android:name=".activity.ItemContainerEditActivity"
            android:label="@string/item_container_edit_title"
            android:logo="@android:drawable/ic_menu_edit" />
        <activity
            android:name="com.dsatab.activity.HeroChooserActivity"
            android:label="@string/hero_chooser_title" />
        <activity
            android:name="com.dsatab.activity.SearchableActivity"
            android:label="Suche"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <receiver
            android:name="com.gandulf.guilib.download.DownloadBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.gandulf.guilib.download.UnzipIntentService"
            android:exported="false" >
        </service>
        <!--
        service
            android:name="com.dsatab.common.ExportHeroService"
            android:exported="false" >
        </service
        -->


        <!-- Dropbox BEGIN -->
        <activity android:name="com.dropbox.sync.android.DbxAuthActivity" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-fivprcmrt2bjm2c" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.dropbox.sync.android.DbxSyncService"
            android:enabled="true"
            android:exported="false"
            android:label="Dropbox Sync" />

        <!-- Dropbox END -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.dsatab.activity.SearchableActivity"
            android:voiceSearchMode="showVoiceSearchButton|launchRecognizer" />
    </application>

</manifest>