<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.dsatab"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true"/>

    <application
        tools:replace="android:label"

        android:name="DsaTabApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DsaTab"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/DsaTabTheme.Light">
        <activity
            android:name=".activity.DsaTabActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden|adjustUnspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DsaTabIntro"
            android:label="Intro"/>

        <activity
            android:name=".activity.DsaTabPreferenceActivity"
            android:label="Einstellungen"/>

        <activity
            android:name=".activity.AboutActivity"
            android:label="Credits, Copyright"/>
        <activity
            android:name=".activity.ItemsActivity"
            android:label="Inventar"/>
        <activity
            android:name=".activity.BaseEditActivity"
            android:label="Eintrag bearbeiten"
            />
        <activity
            android:name=".activity.HeroChooserActivity"
            android:label="Held auswählen"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="www.cloudrailauth.com" android:scheme="https" android:path="/auth"  />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="com.dsatab" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TabEditActivity"
            android:label="Tab bearbeiten"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activity.SearchableActivity"
            android:label="Suche"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <receiver
            android:name=".util.download.DownloadBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".util.download.UnzipIntentService"
            android:exported="false">
        </service>

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.dsatab.activity.SearchableActivity"
            android:voiceSearchMode="showVoiceSearchButton|launchRecognizer"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabric_api_key}" />
    </application>

</manifest>